.new {
  background-color: #00d7d2;
  border-radius: 5px;
}

.container {
  width: 100%;
}

section {
  width: 100%;
}

nav.navbar-default {
  width: 100%;
  margin-bottom: 0;
  position: fixed;
  z-index: 1;
}

a img {
  width: 180px;
  height: 40px;
}

.nav2>li>a{
  line-height: 40px;
}

ul li a {
  color: #031b4e !important;
}

.sign_up {
  color: #0069ff !important;
  border: 1px solid #0069ff;
  border-radius: 5px;
}

.welcome {
  height: 800px;
}

.bg_blue {
  background-color: #0049ff;
}

.blue {
 color: #0049ff;
}

.h-700 {
height: 800px;
}

.row.h-700 {
margin-top: 122px;
}

.font62 {
  font-size: 62px;
  font-weight: bold;
}

.white {
  color: white;
}

form {
  background-color: white;
}

input {
  font-size: 20px;
  width: 80%;
  margin-bottom: 15px;
}

.green_btn {
  background-color: rgba(21, 204, 114, 1);
}

.white_btn {
  background-color: white;
}

.white {
  color: white;
}

.btn {
  padding: 10px;
  width: 80%;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.border_grey {
  border: 1px solid grey;
}

.p-20 {
  padding: 20px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

 .google {
  float: left;
 }

.bg_grey {
  background-color: #f3f5f9;
}

.f-20 {
  font-size: 20px;
}

.f-60 {
  font-size: 60px;
}

.darkblue {
  color: #031b4e;
}

.bold {
  font-size: bold;
}

.pb-50 {
  padding-bottom: 50px;
}


.screenshot {
  width: 50%;
}



@media all and (max-width: 768px){

.screenshot {
  width: 100%;
  }

}

@media all and (min-width: 992px max-width: 1200px){

  .screenshot {
    width: 50%;
    }

}
