.navbar {
  height: 115px;
  margin-bottom: 0;
}

.after-nav {
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-bottom: 1px solid #cccccc;
}
.pl-10 li {
  padding-left: 10px;
}

.right-nav {
  float: right;
}

.right-nav ul {
  text-align: right;
  margin-bottom: 0;
}

.right-nav ul li {
  display: inline-block;
}

.btn-primary {
  color: #0069ff !important;
  background-color: transparent;
  border-color: #0069ff;
  border-radius: 10px;
  font-weight:bold;
}

#btn-blue:hover {
  color: white !important;
  background-color: #0069ff;

}

nav
.desaturated-darkblue > li a,
.desaturated-darkblue > a {
  color: #5b6987 !important;
}

.pad-nav  {
  padding: 10px 30px;
}

.label-new {
  color: #031b4e;
  background-color: #00D7D2;
}

.very-darkblue {
  color: #031b4e;
}

.very-darkblue li a {
  color: #031b4e !important;
}

.bg_very-darkblue {
  background-color: #031b4e;
}

.transf-blue li a:hover,
.transf-blue a:hover {

  color: #0049ff !important;
}

.blue {
 color: #0049ff !important;
}

.bold {
  font-weight: bold;
}

.font62 {
  font-size: 62px;
}

.font25 {
  font-size: 25px;
}

.white {
  color: white;
}

.home {
  background-image: url("bg-home.jpg");
  background-size: cover;
  margin-top: 115px;
}

  section,
  footer {
    padding: 50px 0;
  }

.form-card {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

/* .relative {
  position: relative;
  height: 420px;
}

.relative > .center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

.form-card h2 {
  color: #031b4e;
  font-weight: bold;
  padding-bottom: 20px;
}

.btn-green {
  color: white;
  background-color: #15CD72 !important;
}

.btn-green:hover {
  color: white;
  background-color: #11a259 !important;
}

.bg_grey {
  background-color: #f3f5f9;
}
.grey2 {
  color: #b3b3b3;
}

.p-20 {
  padding: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.bg_world {
 background: #031b4e url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
 background-position: 50%;
 background-repeat: no-repeat;
 background-size: cover;
}

.bg_world H1 {
  color: white;
}

.acqua {
  color: #00d7d2;
}

.bg-2 {
  background-image: url("bg-home.jpg");
  background-size: cover;
}

table > tbody > tr:first-child td {
  border-top: 0;
}

.social > li i:hover,
.list-link a:hover {
  color: white;
}

.list-link a {
  display: block;
}

@media all and (max-width: 768px){

.navbar {
  height: auto;
}

.home {
  margin-top: 0;
}

.screenshot,
.rockerbox {
  width: 80%;
  }

.list-link a,
.list-link h5 {
font-size: 20px
}

}

@media all and (min-width: 992px){

.screenshot,
.rockerbox {
  width: 60%;
}

}
